body{
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: rgb(224, 0, 90);
    overflow-x: hidden;
    color: aliceblue;
}

h1.hero {
    color: aliceblue;
    text-align: center;
    font-size: 5.5em;
    padding: 10%;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

button {
    font-family: monospace;
    border: solid 2px rgb(224, 0, 90);
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(224, 0, 90, 0.5);
    transition: all 0.3s;
}

button:hover {
    transition: all 0.3s;
    border: solid 2px rgb(224, 0, 90);
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 0 27px rgba(224, 0, 90, 1);
}

.main {
    text-align: center;
    transition: all cubic-bezier(0.6,-0.46, 0.31, 0.95) 0.6s;
}

.centre {
    width: 20%;
    margin-left: 40%;
}

.answer_container {
    scale: 1.1;
    width: 70%;
    margin: auto;
}

h2 {
	width: 80%;
	margin: 10%;
    font-size: 2.5em;
    animation: fade_in ease forwards 0.2s;
	text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

h3 {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 2em;

}

h5 {
	font-size: 1.2em;
    animation: fade_in ease forwards 0.2s;
}

.answer {
	user-select: none;
    width: 40%;
    background-color: aliceblue;
    color: black;
    padding: 20px;
    margin: 2%;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.2s;
	border: solid 2px aliceblue;
}

.answer:hover {
	border: solid 2px rgb(255, 151, 151);
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    transition: all 0.2s;
	scale: 1.02;
}

.answer.correct {
    transition: all 0.2s;
    background-color: rgb(0, 196, 0);
    box-shadow: 0 0 15px rgba(0, 196, 0, 0.7);
	border: solid 2px aliceblue;
}

.answer.incorrect {
    transition: all 0.2s;
    background-color: rgb(252, 103, 43);
    box-shadow: 0 0 15px rgba(252, 103, 43, 0.7);
	border: solid 2px aliceblue;
}

.answer:nth-child(1) {
    animation: slide_fade_in ease forwards 0.3s;
}

.answer:nth-child(2) {
    animation: slide_fade_in ease forwards 0.6s;
}

.answer:nth-child(3) {
    animation: slide_fade_in ease forwards 0.8s;
}

.answer:nth-child(4) {
    animation: slide_fade_in ease forwards 1s;
}

@keyframes fade_in {
    from {
        opacity: 0;
	}
	to {
        opacity: 1;
	}
}

@keyframes slide_fade_in {
    from {
        opacity: 0;
        transform: translate(0, 50px);
	}
	to {
        opacity: 1;
        transform: translate(0, 0);
	}
}

.correct_signifier {
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: calc(50vh - 10vw);
    left: calc(50vw - 10vw);
    border-radius: 99999px;
    text-align: center;
    font-size: 10vw;
    line-height: 20vw;
    z-index: 5;
    background-color: green;
    transform: translate(100vh, 0);
    /* display: none; */
    opacity: 0;
}

.incorrect_signifier {
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: calc(50vh - 10vw);
    left: calc(50vw - 10vw);
    border-radius: 99999px;
    text-align: center;
    font-size: 10vw;
    line-height: 20vw;
    z-index: 5;
    background-color: rgb(218, 105, 0);
    transform: translate(100vh, 0);
    /* display: none; */
    opacity: 0;
    /* transition: all 0.5s ease-in-out; */
}

.appear {
    transform: translate(0, 0);
    transition: all 0.5s cubic-bezier(0.4,-0.34, 0.53, 1.44);
    opacity: 1;
    display: block;
}

.back_button {
	background-color: aliceblue;
	color: black;
	padding: 15px;
	border-bottom-right-radius: 10px;
	display: inline-block;
	animation: fade_in ease forwards 0.3s;
	top: 0;
	left: 0;
	transition: all 0.2s;
	cursor: pointer;
}

.back_button:hover {
	user-select: none;
	background-color: rgb(220, 213, 213);
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
	transition: all 0.2s;
}

.retry_button {
	user-select: none;
	margin: 2%;
	font-family: monospace;
	display: flex;
    line-height: 4vw;
	font-size: 1.75em;
	width: 12vw;
	height: 4vw;
	display: inline-block;
	background-color: aliceblue;
	border: solid 2px aliceblue;
	color: black;
	border-radius: 15px;
	padding: 15px;
	margin-top: 5%;
	cursor: pointer;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
	transition: all 0.3s;
}

.retry_button:hover {
	border: solid 2px rgb(255, 151, 151);
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    transition: all 0.2s;
	scale: 1.02;
}

@media only screen and (max-width: 1150px) {
	.retry_button {
		font-size: 1.5em;
		width: 30vw;
		height: 10vw;
		line-height: 5vw;
	}
}

@media only screen and (max-width: 800px) {
	h2 {
		width: 95%;
		margin: 2.5%;
	}
	.answer_container {
		scale: 1;
		width: 95%;
		margin: auto;
	}
	.retry_button {
		font-size: 1.5em;
		width: 20vw;
		height: 10vw;
		line-height: 5vw;
	}
}

@media only screen and (max-height: 610px) {
	h2 {
		font-size: 2em;
		margin-top: 7%;
		margin-bottom: 8%;
	}
	.answer {
		font-size: 1em;
		margin: 1%;
		width: 40%;
	}
}

@media only screen and (max-height: 500px) {
	h2 {
		font-size: 1.75em;
		margin-top: 5%;
		margin-bottom: 6%;
	}
	.answer {
		font-size: 1em;
		margin: 1%;
		width: 40%;
	}
}